<?xml version="1.0"?>
<launch>

    <!-- Not sure exactly what these do but they are necessary -->
    <node pkg="authoring" type="static_publisher" name="external_view_static_publisher">
        <param name="file_name" type="string" value="transforms.yaml" />
        <param name="transform" type="string" value="external_view_transform" />
    </node>
    <node pkg="authoring" type="static_publisher" name="internal_camera_static_publisher">
        <param name="file_name" type="string" value="transforms.yaml" />
        <param name="transform" type="string" value="internal_camera_transform" />
    </node>

    <!-- <node pkg="authoring" type="static_publisher" name="panda_gripper_static_publisher">
        <param name="file_name" type="string" value="transforms.yaml" />
        <param name="transform" type="string" value="sim_robot_transform" />
    </node> -->




    <node pkg="authoring" type="planner" name="planner" output="screen"/>

    <node pkg="authoring" type="mover_server" name="mover_server" output="screen">
        <param name="only_virtual" type="bool" value="false" />
    </node>
</launch>
